<ng-particles id="particles-js" [options]="particlesOptions" [particlesInit]="particlesInit" (particlesLoaded)="particlesLoaded($event)"></ng-particles>
<section class="hero is-fullheight" id="particles-js">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1  has-text-light">
        Mr. Kal
      </h1>
      <h2 class="subtitle  has-text-light">
        <a target="_blank" rel="noopener" href="https://github.com/mrkal666" class="has-text-light">Github</a> - <a target="_blank" rel="noopener" href="https://discord.gg/invite/Vrf9gGVMA3" class="has-text-light">Discord</a> - <a target="_blank" rel="noopener" href="https://github.com/mrkal666/mrkal.fi" class="has-text-light">Source</a>  
      </h2>
    </div>
  </div>
</section>


